<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
					"http://mybatis.org/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.ktds.vo.EmployeesVO" alias="EmployeesVO"/>
		<typeAlias type="com.ktds.vo.DepartmentsVO" alias="DepartmentsVO"/>
	</typeAliases>
	<mappers>
		<mapper resource="com/ktds/dao/impl/sql/indexDao.xml"/>
	</mappers>

</configuration>
